.todo__sidebar--container {
    color: var(--default-fg-color);
    grid-area: todo-sidebar;
    height: calc(100vh - 135px);
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    z-index: 1;
    transform: translateX(0);
    transform-origin: left;
    transition: transform 300ms ease-in;
    position: relative;

    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 10px;
        background-color: silver;
    }

    &::-webkit-scrollbar-thumb {
        background-color: orange;
    }
}

@media (width <= 768px) {
    .todo__sidebar--container {
        position: absolute;
        left: 5px;
        width: 250px;
        top: 60px;
    }
}

