.forgot-password-container {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--default-bg-color);
}

.forgot-password {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--default-fg-color);
    background-color: inherit;
    h1 {
        text-align: center;
        font-size: 28px;
    }
}
.forgot-password-form {
    padding: 10px;
    color: inherit;
    background-color: inherit;
    box-shadow: 0 0 10px silver;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
    max-width: 600px;
}