:root {
    --index-page-bg-color: rgba(0, 0, 0, 0.9);
    --index-page-fg-color: whitesmoke;
    --index-page-accent-color:orange;
    // --index-page-bg-color: rgba(255, 255,255,0.9);
}

.index-page {
    min-height: 100%;
    background-color: var(--default-bg-color);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: scroll;
    display: flex;
    color: var(--default-fg-color);
    justify-content: space-between;
    flex-direction: column;
}
.intro-section {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
        padding: 0 20px;
        max-width: 450px;
        position: relative;
        font-family: "Oswald", sans-serif;
        font-weight: bolder;
        font-size: 36px;
        animation-iteration-count: 5;
        transition: all 0.2s ease-in-out;
        strong {
            text-shadow: 0 0 2.5px var(--index-page-accent-color);
            color: var(--index-page-accent-color);
            text-decoration: wavy;
            transition: letter-spacing,  300ms ease;
            &:hover {
                letter-spacing: 5px;
                transition: letter-spacing,  300ms ease;
            }
        }
    }
    transition: all 0.2s ease-in-out;
}
.index-image-section {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 0 15px;
    .index-logo {
        box-shadow: inset 0 0 30px  var(--index-page-accent-color);
        border-radius: 50%;
        max-width: 250px;
        max-height: 250px;
        position: relative;
        animation-name: animate-logo;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

@keyframes animate-logo {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(10px);
    }
    75% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media (max-width: 700px) {
    .intro-section {
        flex-direction: column-reverse;
        justify-content: center;
        transition: all 0.2s ease-in-out;
        h1 {
            margin-top: 20px;
            text-align: center;
            font-size: 24px;
            transition: all 0.2s ease-in-out;
        }
        margin-bottom: 20px;
    }
}
@media (max-width: 450px) {
    .intro-section {
        padding: 0;
        
    }
    .index-image-section {
        .index-logo {
            max-width: 200px;
        }
        justify-content: center;
    }
}