:root {
    --todo-sidebar-bg-color:rgba(0,0,0,0.95);
    --todo-sidebar-item-bg-color:rgba(255, 196, 0, 0.925);
    --scrollbar-thumb-bg-color:gold;
}
.todo-sidebar-container {
    color: var(--default-fg-color);
    grid-area: todo-sidebar;
    height: var(--todo-section-height);
    background-color: var(--default-bg-color);
    padding: 10px;
    border-radius: 10px;
    overflow-y: scroll;
    z-index: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 300ms ease-in;
    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 10px;
        background-color: silver;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-bg-color);
    }
}
.sidebar-items {
    a {
        display: inline-block;
        background-color: var(--todo-sidebar-item-bg-color);
        padding: 5px;
        border-radius: 5px;
    }
}
@media (max-width: 768px){
    .todo-sidebar-container {
        position: absolute;
        left: 5px;
        width: 250px;
        top: 60px;
        transform: scaleX(1);
    }
}

@media (max-width: 400px) {
    .todo-sidebar-container {
        top: 110px;
        width: 200px;
    }
}