.account__intro--profile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account__intro--profile--image {
    width: 150px;
    height: 150px;
    position: relative;
}

.account__intro--profile--button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.account__intro--header {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}