:root {
    // --footer-bg-color: linear-gradient(45deg, orange, rgba(252, 112, 0, 0.9));
    --facebook-color: #4267b2;
    --twitter-color: #1da1f2;
    --instagram-color: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #bc1888 100%
    );
}

.footer {
    margin-top: 50px;
}

.footer__copyright {
    padding: 10px;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}

.footer__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer__social--item {
    margin: 5px;
    transition: color 200ms ease-in-out;
}

.footer__social--item:nth-child(1):hover {
    color: #4267b2;
}

.footer__social--item:nth-child(2):hover {
    color:#e4ac45;
}

.footer__social--item:nth-child(3):hover {
    color:#1da1f2;
}