.account__page {
    padding: 10px;
}

.account__page--component {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account__page--component--item {
    width: 600px;
}

.account__page--tab--item--title {
    margin-left: 5px;
}

.account__page--component--item--header {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 10px 0;
}

@media (width <= 1000px) {
    .account__page--tab--item--title {
        display: none;
    }
}
