.account__page {
    padding: 10px;
}

.account__page--tab--item {
    display: grid;
    grid-template-columns: 24px 1fr;
    font-weight: bold;
}

.account__page--component {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account__page--component--item {
    width: 600px;
}

.account__page--component--item--header {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    margin: 10px 0;
}

@media (width <= 1200px) {
    .account__page--tab--item > p {
        display: none;
    }
}
