.todo__preview--header {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0 ;
    border-radius: 10px;
    margin-top: 10px;
}

// .todo__preview--container {}

.todo__preview--list {
    padding: 10px 0;
    margin-top: 10px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    height: calc(100vh - 200px);

    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 10px;
        background-color: silver;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-bg-color);
        border-radius: 5px;
    }
}
