:root {
    --default-fg-color: var(--chakra-colors-chakra-body-text);
    --default-bg-color: var(--chakra-colors-chakra-body-bg);
    --chakra-colors-black: rgb(20 19 19);
}

* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    font-size: 14px;
    font-family: Inter, Arial, Helvetica, sans-serif;
}

#root {
    height: 100%;
    
}

// Font Faces

@font-face {
    font-family: Inter;
    src: url('./assets/fonts/Inter/Inter.woff2') format('woff2');
}