:root {
    --todobar-bg-color: rgb(0 0 0 / 85%);
}

.todobar-container {
    grid-area: todo-bar;
}

.todobar {
    color: var(--default-fg-color);
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--default-bg-color);
}

.todobar-header {
    text-align: center;

    &::after {
        content: '';
        width: 100%;
        height: 5px;
        display: block;
        border-radius: 10px;
        background: linear-gradient(
            90deg,
            rgb(255 98 0 / 100%) 0%,
            rgb(232 255 0 / 100%) 60%,
            rgb(244 0 255 / 100%) 100%
        );
    }
}

.todobar-sidebar-button {
    display: none !important;
}

@media (width <= 768px) {
    .todobar-sidebar-button {
        display: block !important;
    }
}

@media (width <= 400px) {
    .todobar {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;

        div {
            margin-bottom: 10px;
        }
    }
}
