.error-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    .error-header {
        font-size: xx-large;
        display: inherit;
        color: rgb(110, 110, 110);

        i {
            margin-right: 10px;
        }
    }
    .back-to-home-from-error {
        margin-top: 20px;
        button {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

}